/* w.css */

@keyframes bomb-blast {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .bomb-blast-container {
    animation: bomb-blast 0.5s ease-out;
  }
  /* b.css */::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Transparent thumb with some opacity */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Enlarged post widget styles */
.enlarged {
  transform: scale(1.2); /* Scale the widget */
  transition: transform 0.5s ease; /* Smooth transition */
}